@charset "utf-8";

.join-box{
    width: 500px;
    outline: 1px dotted red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.user-img{
    text-align: center;
}